<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Success</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 600px;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .text-center {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="text-center">
        <h2>Successful</h2>
        <p>Thank you for registering!</p>
        <a href="/registration" class="btn btn-primary">Go back to Registration</a>
    </div>
</div>
</body>
</html>

